* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/image/montagne.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    color: white;
}

img {
    object-fit: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 10em 7em 10em;
}

.header_div_haut {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 7em;
}

h1 {
    text-shadow: 3px 3px 10px #160C28;;
}

.header_div_bas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sugestion {
    width: 260px;
    font-size: 20px;
    border : solid 1px #95C1DB;
    border-radius: 1em;
    background-color: #4995C1;
    box-shadow: 3px 3px 15px 1px #160C28;
    position: absolute;
    top: 100%;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
    margin-top: 5px;
}

#recherche {
    width: 21em;
    height: 4em;
    border: solid 2px #95C1DB;
    border-radius: 1em;
    margin-right: 1em;
    box-shadow: 3px 3px 15px 1px #160C28;
}

.recherche_bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    border: solid 2px #95C1DB;
    border-radius: 1em;
    background-color: #4995C1;
    box-shadow: 3px 3px 15px 1px #160C28;
    cursor: pointer;
}

.icon_loupe {
    width: 2.5em;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6.5em 10em;
}

#resultat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #4995C1;
    border: solid 4px #95C1DB;
    box-shadow: 3px 3px 15px 1px #160C28;
    border-radius: 1em;
    width: 15em;
    height: 22.5em;
    z-index: 1;
}

#resultat p {
    font-size: 20px;
    margin: 0.3em 0;
}

.resultat_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icon_temp {
    width: 8em;
}

#map {
    height: 30em;
    width: 50em;
    border: solid 4px #95C1DB;
    border-radius: 1em;
    box-shadow: 3px 3px 15px 1px #160C28;
    z-index: 1;
}


@media(max-width:1200px) {
    main {
        flex-direction: column;
        margin: 1em 10em;
    }

    #resultat {
        width: 30em;
    }

    #resultat h2 {
        font-size: 36px;
    }

    #resultat p {
        font-size: 26px;
    }

    .resultat_info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #map {
        margin-top: 4em;
    }
}

@media(max-width:968px) {
    
    header {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .header_div_haut {
        margin: 1em 0;
    }

    main {
        margin-bottom: 5em;
    }
    

    #map {
        display: none;
    }
}

@media(max-width:500px) {
    #resultat {
        width: 25em;
    }
}

footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
}
